---
---

@import "{{ site.theme }}";

a {
 color:ForestGreen;
}
a:hover,
a:focus {
 color:Indigo;
}
a small {
 color:MidnightBlue;
}
a:hover small {
 color:DarkSlateGray;
}

body {
 font-family: "Times New Roman", Times, serif;
 font-size: 105%;
 background:#99ff66;
}

h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
 color:OrangeRed;
}

header h1 a {
 font-size: 1.2em;
}
